<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID">
	
	<!-- 加载顺序    context-param  -> listener -> filter -> servlet -->

	<display-name>hysy</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>hysy</param-value>
	</context-param>
	
	<listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<context-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>classpath:conf/applicationContext.xml</param-value>  
    </context-param>  
	
	
	
	<filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.css</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.swf</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.gif</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.jpg</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.png</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.js</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.html</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.xml</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.json</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.map</url-pattern>  
    </servlet-mapping>
    
    
    
    <servlet>  
        <!-- 配置DispatcherServlet -->  
        <servlet-name>springMvc</servlet-name>  
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
            <!-- 指定spring mvc配置文件位置 不指定使用默认情况 -->  
            <init-param>     
                <param-name>contextConfigLocation</param-name>
                <param-value>classpath:conf/spring-mvc.xml</param-value>
            </init-param>  
        <!-- 设置启动顺序 -->  
        <load-on-startup>1</load-on-startup>  
    </servlet>

    <!-- ServLet 匹配映射 -->
    <servlet-mapping>
        <servlet-name>springMvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- 后台程序异常错误跳转页面 -->
    <error-page>  
        <exception-type>java.lang.Throwable</exception-type>  
        <location>/views/error.jsp</location>  
    </error-page>  

    <!-- 500跳转页面-->
    <error-page>  
        <error-code>500</error-code>  
        <location>/views/500.jsp</location>  
    </error-page> 

    <!-- 404跳转页面 -->
    <error-page>  
        <error-code>404</error-code>  
        <location>/views/404.jsp</location>  
    </error-page>
    
    
</web-app>
